
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}sinehr{%  endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/mainview.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
{% block brand %}
          <a class="brand" href="{% block title_link %}/{% endblock %}">{% block title %}<img style="height: 20px;" src="/static/img/sinehr.png" alt="sinehr"/>{% endblock %}</a>
{% endblock %}
          <div class="nav-collapse collapse">
            <ul class="nav">
{% block nav_menu %}
              <li class="active"><a href="/">Home</a></li>
              {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
              {% endif %}
{% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

{% block content %}

      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/components/jquery/jquery.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-affix.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
